{% extends 'base.html' %}
{% load static %}

{% block title %}Стили — ANNART{% endblock %}


{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock extra_css %}

{% block content %}
	<section id="material-categories" class="py3">
		<div class="container">
			<h2 class="text-center section-title slide-up mb-4 text-light">Категории материалов</h2>

			{# Первая строка — 5 карточек #}
			<div class="row justify-content-center">
				{% for category in material_categories|slice:":5" %}
					<div class="col-6 col-md-4 col-lg-2 mb-4 d-flex justify-content-center">
						<a href="{% url 'material_items_by_category' category.pk %}" class="text-decoration-none w-100">
							<div class="material-card">
								<div class="material-image">
									{% if category.image %}
										<img src="{{ category.image.url }}" alt="{{ category.name }}">
									{% else %}
										<img src="{% static 'imgages/default_foto.jpg' %}" alt="Нет изображения">
									{% endif %}
								</div>
								<div class="material-text-content">
									<h5>{{ category.name }}</h5>
									{% if category.description %}
										<p>{{ category.description|truncatechars:80 }}</p>
									{% endif %}
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

			{# Вторая строка — 4 карточки по центру #}
			<div class="row justify-content-center">
				{% for category in material_categories|slice:"5:9" %}
					<div class="col-6 col-md-4 col-lg-2 mb-4 d-flex justify-content-center">
						<a href="{% url 'material_items_by_category' category.pk %}" class="text-decoration-none w-100">
							<div class="material-card">
								<div class="material-image">
									{% if category.image %}
										<img src="{{ category.image.url }}" alt="{{ category.name }}">
									{% else %}
										<img src="{% static 'img/default.jpg' %}" alt="Нет изображения">
									{% endif %}
								</div>
								<div class="material-text-content">
									<h5>{{ category.name }}</h5>
									{% if category.description %}
										<p>{{ category.description|truncatechars:80 }}</p>
									{% endif %}
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
		</div>
	</section>

{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}

{% block dashboard %}
{% endblock dashboard %}