{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Продукты" %} — AnnArt{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<!-- Materials Section -->
<section id="materials" class="py-3 mx-4s">
	<div class="partner-logos-wrapper">
		<div class="partner-logos">
			{% for partner in partners %}
				<div class="partner-logo">
					<img src="{{ partner.image.url }}" alt="{% blocktrans %}Партнёр {{ partner.name }}{% endblocktrans %}">
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container py-2">
		<h3 class="text-center section-title slide-up text-light mb-3">{{ category.name }}</h3>
		{% if category.description %}
			<div class="row fade-in">
				<div class="col-lg-8 mx-auto text-center">
					<p style="color: white">{{ category.description }}</p>
				</div>
			</div>
		{% endif %}

		<div class="row justify-content-center">
			{% for item in items %}
				<div class="col-sm-6 col-md-3 col-lg-2 fade-in mb-3 d-flex justify-content-center">
					<div class="material-card">
						<div class="material-image">
							{% if item.image %}
								<img src="{{ item.image.url }}" alt="{{ item.title }}">
							{% else %}
								<img src="{% static 'images/default_foto.jpg' %}" alt="{% trans 'Нет изображения' %}">
							{% endif %}
						</div>
						<div class="material-text-content">
							<h5>{{ item.title }}</h5>
							{% if item.description %}
								<p>{{ item.description|truncatechars:100 }}</p>
							{% endif %}
						</div>
					</div>
				</div>
			{% empty %}
				<div class="col-12 text-center text-light">
					<p>{% trans "Материалы в этой категории пока не добавлены." %}</p>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="text-center mt-3 d-flex justify-content-center flex-wrap gap-3">
		{% if prev_category %}
			<a href="{% url 'material_items_by_category' prev_category.id %}" class="btn btn-outline-light">
				← {{ prev_category.name }}
			</a>
		{% endif %}

		<a href="{% url 'products' %}" class="btn btn-custom btn-lg">
			{% trans "Все категории" %}
		</a>

		{% if next_category %}
			<a href="{% url 'material_items_by_category' next_category.id %}" class="btn btn-outline-light">
				{{ next_category.name }} →
			</a>
		{% endif %}
	</div>
</section>
{% endblock content %}

{% block dashboard %}
{% endblock dashboard %}