{% extends 'base.html' %}
{% load static %}

{% block title %}{{ style.title }} — Стиль интерьера{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock extra_css %}

{% block content %}
	<section class="py-5">
		<div class="container-fluid">
			<div class="row justify-content-center fade-in">
				<div class="col-lg-10 text-center">
					<h2 class="section-title slide-up">Стиль {{ style.title }}</h2>
				</div>
			</div>

			<div class="row justify-content-center fade-in">
				<div class="col-md-12 col-lg-12">
					<div class="style-detail-card  rounded p-4 text-light ">
						<div class="row border-bottom ">
							<div class="mb-4 text-center col-lg-5">
								<img src="{{ style.image.url }}" alt="{{ style.title }}"
								     class="img-fluid rounded border" style="max-height: 450px; object-fit: cover;">
							</div>
							<div class="style-description fs-5 lh-lg col-lg-5" style="text-align: justify;">
								{{ style.description|linebreaks }}
							</div>
						</div>


						<div class="text-center mt-4">
							<a href="{% url 'styles' %}" class="btn btn-custom btn-lg">
								← Вернуться к списку стилей
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block dashboard %}
{% endblock %}